{% load static %}
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper" style="margin-top: 124px;">  
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'shop' %}">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="{% url 'card' %}">Shoping Cart</a></li>
                    <li><a href="{% url 'checkout' %}">Check Out</a></li>
                </ul>
            </li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
</div>
<!-- Humberger End -->
<header class="header fixed-header">
    <div class="mb-4 mx-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'home' %}"><img src="{% static './img/logo2.jpg' %}" alt="" height="40" width="100px"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{% url 'card' %}">Shoping Cart</a></li>
                                <li><a href="{% url 'checkout' %}">Check Out</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'blog' %}">Blog</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a id="card" data-bs-container="body" data-bs-html=true data-bs-toggle="popover" data-bs-placement="top" title="Popup title" data-bs-content="Popup content"><i class="fa fa-shopping-bag"></i> <span id="panier">0</span></a></li>
                    </ul>
                    <div class="header__cart__price">somme: <span id="sommes"></span> FCfa</div>
                </div>
            </div>
        </div>
        <div id="message" data-bs-html=true class="alert alert-success text-center" style="display:none;"><i data-bs-html=true class="fa-duotone fa-check"  style="--fa-primary-color: #ffffff; --fa-secondary-color: #000000;"></i> Produit ajouté au panier avec succès</div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>