{% extends "index.html" %}

{% load static %}
    
{% block content %}
<section class="hero hero-normal" style="margin-top:120px !important;">
    <div class="container">
        <div class="row" style="margin-left: 5rem !important;">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all bg-primary">
                        <i class="fa fa-bars"></i>
                        <span>All categories </span>
                    </div>
                    <ul>
                        {% for category in categories %} 
                            <li data-filter=".oranges"><a class="text-dark" href="{% url "souscategory" category=category.slug %}">{{category.libelle}}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                search categorie
                            </div>
                            <input type="text" placeholder="What do yo u need?" name="recherche">
                            <button type="submit" class="site-btn bg-primary">SEARCH</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if category %}
            <div class="bg-info p-1 mt-1">
                <h3 class="text-center ">Categorie : <strong>{{category.libelle}}</strong></h3>
            </div>
            {% endif %}
        </div>
    </div>
</section>
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{% static 'img/latest-product/lp-1.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{% static 'img/latest-product/lp-2.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{% static 'img/latest-product/lp-3.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{% static 'img/latest-product/lp-1.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{% static 'img/latest-product/lp-2.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{% static 'img/latest-product/lp-3.jpg' %}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>Crab Pool Security</h6>
                                                <span>$30.00</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-12 col-md-7">
                    <div class="product__discount">
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                {% for produit in produits %} 
                                <div class="col-lg-11">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg"
                                            data-setbg="{{ produit.image.url }}">
                                            <div class="product__discount__percent">-20%</div>
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="{% url 'details' pk=produit.id %}"><i class="fa fa-retweet"></i></a></li>
                                                <li><a id="{{produit.id}}" class="shop"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <h5><a id="produit{{produit.id}}" href="{% url 'details' pk=produit.id %}">{{produit.libelle}}</a></h5>
                                            <div class="product__item__price"> <strong id="prix{{produit.id}}">{{produit.prix_unitaire}}</strong> FCfa</div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div> 
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for produit in produits %}                         
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" 
                                    data-setbg="{{ produit.image.url }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="{% url 'details' pk=produit.id %}"><i class="fa fa-retweet"></i></a></li>
                                        <li><a id="{{produit.id}}" class="shop"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a id="produit{{produit.id}}" href="{% url 'details' pk=produit.id %}">{{produit.libelle}}</a></h6>
                                    <h5> <span id="prix{{produit.id}}">{{produit.prix_unitaire}}</span></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination text-center">
                        {% if produits.has_previous %}
                            <a href="?page{{ produit.previous_page_numbre }}" class="w-auto p-1">Precedante</a>
                        {% endif %}
                        {% if produits.has_next %}                      
                        <a href="?page={{ produits.next_page_number }}" class="w-auto p-1">Suivante</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    {% endblock content %}
